<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{fragments/header :: header}">
    <title>회원 목록</title>
    <style>
        /* 필요한 스타일 추가 */
    </style>
</head>
<body>
<div th:replace="~{fragments/bodyHeader}"></div>
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-3">
    <h2>회원 목록</h2>
    <a href="/members/new" class="btn btn-primary">회원 가입</a>
    </div>
    <!-- 구분선 추가 -->
    <hr class="my-3">
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-center">실명</th>
            <th class="text-center">닉네임</th>
            <th class="text-center">이메일</th>
            <th class="text-center">역할</th>
            <th class="text-center">로그인 시각</th>
        </tr>
        </thead>
        <tbody>
        <!-- members 리스트를 순회하여 출력 -->
        <tr th:each="memberDto : ${members}">
            <td class="text-center" th:text="${memberDto.id}"></td>
            <td class="text-center" th:text="${memberDto.realName}"></td>
            <td class="text-center" th:text="${memberDto.username}"></td>
            <td class="text-center" th:text="${memberDto.email}"></td>
            <td class="text-center" th:text="${memberDto.role}"></td>
            <td class="text-center" th:text="${memberDto.lastLoginTime}"></td>
            <td class="text-center">
        </tr>
        </tbody>
    </table>
    <div th:replace="~{fragments/footer}"></div>
</div>
</body>
</html>